<div class="container mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-4">Add Darshan Widgets</h1>
  <form method="POST" action="/api/darshan_widgets">
    <div
      id="card-container"
      data-card-count="<%= content.data.length %>"
      class="mb-4"
    >
      <% content.data.forEach(function(card, cardIndex) { %>
      <div class="card border p-4 mb-4">
        <div class="flex items-center mb-2">
          <button
            type="button"
            class="add-item-button bg-blue-500 text-white px-2 py-1 rounded"
          >
            Add Item
          </button>
        </div>
        <div>
          <label
            for="widgetTitle"
            class="block text-sm font-medium text-gray-700"
            >Widget Title:</label
          >
          <input
            type="text"
            name="cards[<%= cardIndex %>][title][]"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            value="<%= card.widgetTitle %>"
          />
        </div>
        <div class="item-container space-y-4" data-id="<%= cardIndex %>">
          <% card.data.forEach(function(item, itemIndex) { %>
          <div class="flex items-center mb-2">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700"
                >Name:</label
              >
              <input
                type="text"
                name="cards[<%= cardIndex %>][name][]"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="<%= item.name %>"
              />
            </div>
            <div>
              <label for="place" class="block text-sm font-medium text-gray-700"
                >Place:</label
              >
              <input
                name="cards[<%= cardIndex %>][place][]"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="<%= item.place %>"
              />
            </div>
            <div>
              <label
                for="imgUrl"
                class="block text-sm font-medium text-gray-700"
                >Image:</label
              >
              <input
                type="text"
                name="cards[<%= cardIndex %>][imgUrl][]"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="<%= item.imgUrl %>"
              />
            </div>
            <div>
              <label
                for="pageId"
                class="block text-sm font-medium text-gray-700"
                >page Id:</label
              >
              <input
                type="text"
                name="cards[<%= cardIndex %>][pageId][]"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="<%= item.pageId %>"
              />
            </div>

            <button
              type="button"
              class="delete-item-button bg-red-500 text-white px-2 py-1 rounded"
            >
              Delete
            </button>
          </div>
          <% }); %>
        </div>
      </div>
      <% }); %>
    </div>
    <button
      type="button"
      id="add-card-button"
      class="bg-green-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-green-600"
    >
      Add Card
    </button>
    <button
      type="submit"
      class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md shadow-sm hover:bg-blue-600"
    >
      Submit
    </button>
  </form>
</div>
