<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="output.css" rel="stylesheet" />
    <title>Admin Page</title>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <%- include('partials/header') %>

    <div class="container mx-auto mt-10">
      <h1 class="text-2xl font-bold mb-4">Select Type to Create</h1>
      <select
        id="typeSelector"
        class="block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50 focus:ring-blue-500 mb-4"
      >
        <option value="">Select type</option>
        <% types.forEach((type) => { %>
        <option value="<%= type %>"><%= type %></option>
        <% }); %>
      </select>

      <div
        id="createContent"
        class="mt-6 p-4 bg-white border border-gray-300 rounded-md shadow-md"
      ></div>
    </div>

    <%- include('partials/footer') %> <%- include('show/show_mantras') %>
    <script src="/js/script.js"></script>
    <script src="/js/autosuggest.js"></script>
  </body>
</html>
